In [1]:
import folium
import json
import pandas as pd

# IMPORT JSON WORLD COUNTRIES CODE

In [2]:
with open('./world-countries.json') as data_file:
    country_geo = json.load(data_file)

# IMPORT CSV COV-19 DATASET

In [3]:
data = pd.read_csv('./covid_19_data.csv')
world_coordinates = pd.read_csv('./continents2.csv')

In [4]:
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

# CHECK NAN VALUES

In [5]:
data.isnull().any()

SNo                False
ObservationDate    False
Province/State      True
Country/Region     False
Last Update        False
Confirmed          False
Deaths             False
Recovered          False
dtype: bool

# DATA PROCESSING

In [6]:
data.rename(columns={'Country/Region':'name'},inplace = True)
countries = data['name'].unique().tolist()
len(countries)

223

In [7]:
len(data)

116805

In [8]:
#changing data name
data['name'].replace({'Mainland China':'China'},inplace=True)
data['name'].replace({'US':'United States'},inplace=True)
data['name'].replace({'UK':'United Kingdom'},inplace=True)

In [9]:
#total no of confirmed cases for every country
cases = data.groupby(['name'],as_index=False)['Confirmed'].max()
world_data = pd.merge(world_coordinates,cases,on='name')
world_data

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,Confirmed
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN,39145.0
1,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN,12787.0
2,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN,50400.0
3,Andorra,AD,AND,20,ISO 3166-2:AD,Europe,Southern Europe,NaN,150.0,39.0,NaN,1753.0
4,Angola,AO,AGO,24,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0,4363.0
...,...,...,...,...,...,...,...,...,...,...,...,...
185,Vietnam,VN,VNM,704,ISO 3166-2:VN,Asia,South-eastern Asia,NaN,142.0,35.0,NaN,1069.0
186,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN,10.0
187,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN,2029.0
188,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,14443.0
189,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0,7725.0

In [ ]:
filter = world_data['name']=='Tunisia'
world_data[filter]

# CREATE THE MAP

In [ ]:
map = folium.Map(location=[100,0],zoom_start=1.5)

In [ ]:
folium.Choropleth(
    geo_data=country_geo,
    name='choropleth',
    data=world_data,
    columns=['alpha-3', 'Confirmed'],
    key_on='feature.id',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='cov-19_geo'
).add_to(map)
folium.LayerControl().add_to(map)
map

In [ ]:
# Create Folium plot
x = map.save('plot_data.html')
# Import the Folium interactive html file
from IPython.display import IFrame
IFrame(src= './plot_data.html', width=1000 ,height=450)